In [20]:
import pandas as pd
df = pd.read_csv('critics.csv')

In [21]:
df.head()

,critic,fresh,imdb,publication,quote,review_date,rtid,title
0,Owen Gleiberman,fresh,114709,Entertainment Weekly,NaN,2011-09-07,9559,Toy story
1,Derek Adams,fresh,114709,Time Out,"So ingenious in concept, design and execution ...",2009-10-04,9559,Toy story
2,Richard Corliss,fresh,114709,TIME Magazine,The year's most inventive comedy.,2008-08-31,9559,Toy story
3,David Ansen,fresh,114709,Newsweek,A winning animated feature that has something ...,2008-08-18,9559,Toy story
4,Leonard Klady,fresh,114709,Variety,The film sports a provocative and appealing st...,2008-06-09,9559,Toy story

In [22]:
n_reviews = len(df)
n_critics = df.critic.unique().size
n_movies = df.rtid.unique().size

print("Number of reviews: {:d}".format(n_reviews))
print("Number of critics: {:d}".format(n_critics))
print("Number of movies:  {:d}".format(n_movies))

Number of reviews: 27631
Number of critics: 690
Number of movies:  2779

In [23]:
df = df[~df['quote'].isnull()]

In [24]:
df.head(20)

,critic,fresh,imdb,publication,quote,review_date,rtid,title
1,Derek Adams,fresh,114709,Time Out,"So ingenious in concept, design and execution ...",2009-10-04,9559,Toy story
2,Richard Corliss,fresh,114709,TIME Magazine,The year's most inventive comedy.,2008-08-31,9559,Toy story
3,David Ansen,fresh,114709,Newsweek,A winning animated feature that has something ...,2008-08-18,9559,Toy story
4,Leonard Klady,fresh,114709,Variety,The film sports a provocative and appealing st...,2008-06-09,9559,Toy story
5,Jonathan Rosenbaum,fresh,114709,Chicago Reader,"An entertaining computer-generated, hyperreali...",2008-03-10,9559,Toy story
6,Michael Booth,fresh,114709,Denver Post,"As Lion King did before it, Toy Story revived ...",2007-05-03,9559,Toy story
7,Geoff Andrew,fresh,114709,Time Out,The film will probably be more fully appreciat...,2006-06-24,9559,Toy story
8,Janet Maslin,fresh,114709,New York Times,Children will enjoy a new take on the irresist...,2003-05-20,9559,Toy story
9,Kenneth Turan,fresh,114709,Los Angeles Times,Although its computer-generated imagery is imp...,2001-02-13,9559,Toy story
10,Susan Wloszczyna,fresh,114709,USA Today,How perfect that two of the most popular funny...,2000-01-01,9559,Toy story
11,Roger Ebert,fresh,114709,Chicago Sun-Times,The result is a visionary roller-coaster ride ...,2000-01-01,9559,Toy story
12,John Hartl,fresh,114709,Film.com,"Disney's witty, wondrously imaginative, all-co...",2000-01-01,9559,Toy story
13,Susan Stark,fresh,114709,Detroit News,Disney's first computer-made animated feature ...,2000-01-01,9559,Toy story
14,Peter Stack,fresh,114709,San Francisco Chronicle,"The script, by Lasseter, Pete Docter, Andrew S...",2000-01-01,9559,Toy story
15,James Berardinelli,fresh,114709,ReelViews,The one big negative about Toy Story involves ...,2000-01-01,9559,Toy story
16,Sean Means,fresh,114709,Film.com,"Technically, Toy Story is nearly flawless.",2000-01-01,9559,Toy story
17,Rita Kempley,fresh,114709,Washington Post,It's a nice change of pace to see the studio d...,2000-01-01,9559,Toy story
18,NaN,fresh,114709,Entertainment Weekly,I can hardly imagine having more fun at the mo...,1995-11-22,9559,Toy story
19,Roger Moore,fresh,114709,Orlando Sentinel,"The great voice acting, the visual puns, all a...",1995-11-22,9559,Toy story
30,Roger Ebert,rotten,113497,Chicago Sun-Times,A gloomy special-effects extravaganza filled w...,2000-01-01,12436,Jumanji

In [25]:
n_reviews = len(df)
n_critics = df.critic.unique().size
n_movies = df.rtid.unique().size

print("Number of reviews: {:d}".format(n_reviews))
print("Number of critics: {:d}".format(n_critics))
print("Number of movies:  {:d}".format(n_movies))

Number of reviews: 15561
Number of critics: 623
Number of movies:  1921

In [26]:
df.fresh.isnull().sum()

0

In [30]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

def make_xy(df, vectorizer=None):
    #Your code here    
    if vectorizer is None:
        vectorizer = CountVectorizer()
    X = vectorizer.fit_transform(df.quote)
    X = X.tocsc()  # some versions of sklearn return COO format
    y = (df.fresh == 'fresh').values.astype(np.int)
    return X, y

X, y = make_xy(df)

In [35]:
from sklearn.model_selection import train_test_split
#import sklearn.model_selection
#import sklearn.feature_extraction.text
#import sklearn.naive_bayes
#import sklearn.metrics

In [42]:
xtrain, xtest, ytrain, ytest = train_test_split(X, y, random_state=1, stratify=y)

In [47]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(xtrain, ytrain)

In [49]:
training_accuracy = clf.score(xtrain, ytrain)
test_accuracy = clf.score(xtest, ytest)

print ("Accuracy on training data: %0.2f" % (training_accuracy))
print ("Accuracy on test data:     %0.2f" % (test_accuracy))

Accuracy on training data: 0.92
Accuracy on test data:     0.77